.btne {
    display: inline-block;
    width: 120px;
    margin: 20px 25px;
    color: aliceblue;
    background-color: rgb(174, 240, 218);
    border-radius: 8px;
    font-family: cursive;
    text-align: center;
}

.btnd {
    display: inline-block;
    width: 120px;
    margin: 20px 25px;
    color: aliceblue;
    background-color: rgb(235, 158, 245);
    border-radius: 8px;
    font-family: cursive;
    text-align: center;
}